external_hostname: {{EXTERNAL_HOSTNAME}}
external_port: {{EXTERNAL_PORT}}
accounts:
  - user: {{USER1}}
    uid: 2001
    keys:
      - "{{USER1_SSH_PUBKEY}}"
  - user: {{USER2}}
    uid: 2002
    keys:
      - "{{USER2_SSH_PUBKEY}}"
